<header class="header contenido">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
          <p>groupgs360</p>
        </a>
  
        <!-- Botón colapsable para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- Nosotros -->
            <li class="nav-item">
              <div class="link-wrapper">
                <a class="nav-link <%= activePage === 'nosotros' ? 'active' : '' %>" href="">Nosotros</a>
              </div>
            </li>
  
            <!-- Servicios -->
            <li class="nav-item">
              <div class="link-wrapper">
                <a class="nav-link <%= activePage === 'servicios' ? 'active' : '' %>" href="">Servicios</a>
              </div>
            </li>
  
            <!-- Productos -->
            <li class="nav-item">
              <div class="link-wrapper">
                <a class="nav-link <%= activePage === 'productos' ? 'active' : '' %>" href="">Productos</a>
              </div>
            </li>
  
            <!-- Contáctanos -->
            <li class="nav-item">
              <a class="nav-link <%= activePage === 'contacto' ? 'active' : '' %>" href="">
                <button class="btn btn-contactanos">Contáctanos</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  