<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Somos textiles</title>
    
        <!-- Metaetiquetas SEO -->
        <meta name="keywords" content="fábrica textil, telas, textiles, ropa, moda, algodón, poliéster, seda, industria textil, tejidos, confección, diseño de moda">
        <meta name="description" content="Descubre nuestra fábrica textil, especializada en la producción de telas de alta calidad como algodón, poliéster y seda para la industria de la moda y confección.">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://dllgroup.com.ar">
    
        <!-- Metaetiquetas Open Graph para compartir en redes -->
        <meta property="og:title" content="Fábrica Textil - Alta calidad en prendas">
        <meta property="og:description" content="Encuentra los mejores tejidos en algodón, poliéster y seda para la industria de la moda. Calidad garantizada.">
        <meta property="og:image" content="https://dcl.ar/images/logo DCL+ Negro.png">
        <meta property="og:url" content="https://dcl.ar">
        <meta property="og:type" content="website">
    
        <!-- Hojas de estilo -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/mobile-marcas.css">


        <link rel="icon" type="image/png" href="/images/logo DCL+ Negro.png">
    
        <!-- Google Fonts / Iconos -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=handshake" />
    </head>
    
<body>
    
    <%- include('partials/header') %> <!-- No es necesario pasar 'title' explícitamente aquí -->
    
    <!-- Video como banner -->
<video autoplay loop muted playsinline class="banner-video contenido">
    <source src="/images/video-baner-dcl.mp4" type="video/mp4">
    Error, tu navegador no soporta videos.
</video>
      
  <!-- Propuesta de valor -->
<section class="propuesta-de-valor_contenedor animated contenido">
    <div class="contenedor-titulo-propuesta">
      <h2>Prueba 1 holaaaaaaa</h2>
    </div>

    
  
    <script src="/js/comentarios.js"></script>
    <script src="/js/animacionHeader.js"></script>
    <script src="/js/carrousel.js"></script>
    <script src="/js/interacciones.js"></script>
    <script src="/js/marcas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/mobile-marcas.js"></script>

</body>
</html>